<mat-toolbar color="primary">
<ng-container *ngIf="user$ | async as user; else loginButton">
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/home">Quản lý</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link"  routerLink="/home" style="border: none;">{{ user.displayName }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/profile" style="border: none;">Thông tin cá nhân</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  (click)="logout()" style="border: none;">Đăng xuất</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</ng-container>
</mat-toolbar>
<ng-template #loginButton>
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container" >
      <a class="navbar-brand" href="/">Quản lý</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link"  (click)="logout()" style="border: none;">Đăng nhập</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</ng-template>

<div class="content" >
<router-outlet></router-outlet>
</div>
